.wrap {
    display: flex;
    justify-content: space-around;
    width: 600px;
    margin: auto;
  }
  #text {
    width: 300px;
    line-height: 14px;
  /*   word-wrap:break-word; */
  /*   hanging-punctuation: force-end; */
    height: 300px;
    overflow: scroll;
    font-size: 12px;
    border: solid 1px #000;
    margin-right: 5px;
    box-sizing: border-box;
    font-family: 'sans'
  }
  #canvas {
    border: solid 1px #000;
    box-sizing: border-box;
    width: 300px;
    height: 300px;
  }