---
import { getCollection } from "astro:content";
import Main from "@/layouts/Main.astro";
import Layout from "@/layouts/Layout.astro";
import Tag from "@/components/Tag.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import getUniqueTags from "@/utils/getUniqueTags";
import { SITE } from "@/config";

const posts = await getCollection("blog", ({ data }) => !data.draft && data.lang === "zh");

let tags = getUniqueTags(posts);
---

<Layout title={`标签 | ${SITE.title}`}>
  <Header translationUrl="/tags" />
  <Main pageTitle="标签" pageDesc="所有文章中使用过的标签。">
    <ul>
      {tags.map(({ tag, tagName }) => <Tag {tag} {tagName} size="lg" />)}
    </ul>
  </Main>
  <Footer />
</Layout>
